# 1. Информация о спецификации
openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
# 2. Серверы
servers:
- url: https://api.rasp.yandex.net/v3.0
# 3. Пути и эндпоинты
paths:
  /search:
    get:
      tags:
        - Расписание
      summary: Расписание между станциями
      description:  |
        Получение расписания движения между двумя пунктами
      operationId: getSchedule
      parameters:
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/transport_types'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
              
  /schedule:
    get:
      tags:
        - Расписание по станции
      summary: Расписание по станции
      description: |
        Возвращает расписание отправлений и прибытий по указанной станции
        на указанную дату с фильтрацией по типу транспорта и направлению.
      operationId: getStationSchedule
      parameters:
      - $ref: '#/components/parameters/apikey'
      - $ref: '#/components/parameters/station'
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/date'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Успешный ответ с расписанием по станции
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationScheduleResponse'
  
  /thread:
    get:
      tags:
        - Маршруты
      summary: Список станций маршрута
      description: |
        Возвращает список всех станций, через которые следует указанный рейс (нить расписания).
        Позволяет получить полный маршрут движения транспортного средства.
      operationId: getThreadStations
      parameters:
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/uid'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/date'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Успешный ответ со списком станций маршрута
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadStationsResponse'
            
  /nearest_stations:
    get:
      tags:
        - Геопоиск
      summary: Ближайшие станции
      description: |
        Возвращает список станций, ближайших к указанным географическим координатам.
        Позволяет найти станции в радиусе указанного расстояния от заданной точки.
      operationId: getNearestStations
      parameters:
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/lat'
        - $ref: '#/components/parameters/lng'
        - $ref: '#/components/parameters/distance'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Успешный ответ со списком ближайших станций
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestStationsResponse'
              
  /nearest_settlement:
    get:
      tags:
        - Геопоиск
      summary: Ближайший населенный пункт
      description: |
        Возвращает ближайший населенный пункт к указанным географическим координатам.
      operationId: getNearestSettlement
      parameters:
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/lat'
        - $ref: '#/components/parameters/lng'
        - $ref: '#/components/parameters/distance'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Успешный ответ с информацией о ближайшем населенном пункте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlementResponse'

  /stations_list:
    get:
      tags:
        - Станции
      summary: Список всех станций
      description: |
        Возвращает полный список всех станций в системе с поддержкой пагинации и фильтрации.
      operationId: getStationsList
      parameters:
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Успешный ответ со списком станций
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsListResponse'

  /carrier:
    get:
      tags:
        - Перевозчики
      summary: Информация о перевозчике
      description: |
        Возвращает подробную информацию о перевозчике по его коду.
      operationId: getCarrierInfo
      parameters:
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/code'
        - $ref: '#/components/parameters/lang'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Успешный ответ с информацией о перевозчике
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierInfoResponse'

  /copyright:
    get:
      tags:
        - Общее
      summary: Информация о правах
      description: |
        Возвращает информацию об авторских правах и источниках данных.
      operationId: getCopyrightInfo
      parameters:
        - $ref: '#/components/parameters/apikey'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/lang'
      responses:
        '200':
          description: Успешный ответ с информацией об авторских правах
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightResponse'

 
# 4. Компоненты
components:
  schemas:
    ScheduleResponse:
      type: object
      properties:
        date:
          type: string
          format: date
          description: Дата расписания
        from:
          $ref: '#/components/schemas/Station'
        to:
          $ref: '#/components/schemas/Station'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Station:
      type: object
      properties:
        code:
          type: string
          description: Код станции
        title:
          type: string
          description: Название станции
        station_type:
          type: string
          description: Тип станции
        popular_title:
          type: string
          description: Популярное название
        short_title:
          type: string
          description: Короткое название
        transport_type:
          type: string
          description: Тип транспорта
    
    Segment:
      type: object
      properties:
        departure:
          type: string
          format: date-time
          description: Время отправления
        arrival:
          type: string
          format: date-time
          description: Время прибытия
        start_date:
          type: string
          format: date
          description: Дата начала движения
        thread:
          $ref: '#/components/schemas/Thread'
        stops:
          type: string
          description: Остановки в пути
        duration:
          type: number
          description: Длительность поездки в секундах
        days:
          type: string
          description: Дни следования
    
    Thread:
      type: object
      properties:
        number:
          type: string
          description: Номер рейса
        title:
          type: string
          description: Название рейса
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
          description: Тип транспорта
        vehicle:
          type: string
          description: Транспортное средство
        express_type:
          type: string
          description: Тип экспресса
    
    Carrier:
      type: object
      properties:
        code:
          type: integer
          description: Код перевозчика
        title:
          type: string
          description: Название перевозчика
    
    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Общее количество результатов
        limit:
          type: integer
          description: Количество результатов на странице
        offset:
          type: integer
          description: Смещение
        page:
          type: integer
          description: Текущая страница
        pages:
          type: integer
          description: Всего страниц
    
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: Код ошибки
            message:
              type: string
              description: Сообщение об ошибке
    StationScheduleResponse:
      type: object
      properties:
        date:
          type: string
          format: date
          description: Дата расписания
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/StationScheduleItem'
        pagination:
          $ref: '#/components/schemas/Pagination'
    
    StationScheduleItem:
      type: object
      properties:
        arrival:
          type: string
          format: date-time
          description: Время прибытия
          nullable: true
        departure:
          type: string
          format: date-time
          description: Время отправления
          nullable: true
        thread:
          $ref: '#/components/schemas/Thread'
        stops:
          type: string
          description: Остановки в пути
        terminal:
          type: string
          description: Терминал
        platform:
          type: string
          description: Платформа
        is_fuzzy:
          type: boolean
          description: Признак неточного времени
        days:
          type: string
          description: Дни следования
        except_days:
          type: string
          description: Дни исключения
    
    ThreadStationsResponse:
      type: object
      properties:
        uid:
          type: string
          description: UID рейса (нити расписания)
        title:
          type: string
          description: Название рейса
        number:
          type: string
          description: Номер рейса
        thread:
          $ref: '#/components/schemas/Thread'
        start_date:
          type: string
          format: date
          description: Дата начала движения
        stations:
          type: array
          items:
            $ref: '#/components/schemas/RouteStation'
        stops_only:
          type: boolean
          description: Показывать только остановочные пункты
    
    RouteStation:
      type: object
      properties:
        station:
          $ref: '#/components/schemas/Station'
        arrival:
          type: string
          format: date-time
          description: Время прибытия
          nullable: true
        departure:
          type: string
          format: date-time
          description: Время отправления
          nullable: true
        stop_time:
          type: integer
          description: Время стоянки в секундах
        duration:
          type: integer
          description: Время в пути от начальной станции в секундах
        stop_distance:
          type: number
          description: Расстояние от начальной станции в километрах
        terminal:
          type: string
          description: Терминал
        platform:
          type: string
          description: Платформа
        is_fuzzy:
          type: boolean
          description: Признак неточного времени
        days:
          type: integer
          description: Количество дней с момента отправления
    NearestStationsResponse:
      type: object
      properties:
        lat:
          type: number
          format: float
          description: Широта запрошенной точки
        lng:
          type: number
          format: float
          description: Долгота запрошенной точки
        distance:
          type: integer
          description: Запрошенное расстояние поиска
        stations:
          type: array
          items:
            $ref: '#/components/schemas/NearestStation'
        pagination:
          $ref: '#/components/schemas/Pagination'
    
    NearestStation:
      type: object
      properties:
        distance:
          type: integer
          description: Расстояние до станции в метрах
        code:
          type: string
          description: Код станции
        station_type:
          type: string
          description: Тип станции
        title:
          type: string
          description: Название станции
        popular_title:
          type: string
          description: Популярное название станции
        short_title:
          type: string
          description: Короткое название станции
        transport_type:
          type: string
          description: Тип транспорта
        type:
          type: string
          description: Тип объекта
          
    NearestSettlementResponse:
      type: object
      properties:
        title:
          type: string
          description: Название населенного пункта
        distance:
          type: integer
          description: Расстояние до населенного пункта в метрах
        code:
          type: string
          description: Код населенного пункта
        station_type:
          type: string
          description: Тип населенного пункта
        type:
          type: string
          description: Тип объекта
        lat:
          type: number
          format: float
          description: Широта населенного пункта
        lng:
          type: number
          format: float
          description: Долгота населенного пункта

    CarrierInfoResponse:
      type: object
      properties:
        code:
          type: string
          description: Код перевозчика
        title:
          type: string
          description: Название перевозчика
        address:
          type: string
          description: Юридический адрес
          nullable: true
        url:
          type: string
          description: Сайт перевозчика
          nullable: true
        email:
          type: string
          description: Электронная почта
          nullable: true
        contacts:
          type: string
          description: Контактная информация
          nullable: true
        phone:
          type: string
          description: Телефон
          nullable: true
        logo:
          type: string
          description: Ссылка на логотип
          nullable: true
        codes:
          type: object
          description: Дополнительные коды перевозчика
          properties:
            iata:
              type: string
              description: Код IATA
              nullable: true
            icao:
              type: string
              description: Код ICAO
              nullable: true
            sirena:
              type: string
              description: Код Сирена
              nullable: true
        region:
          type: string
          description: Регион деятельности
          nullable: true
        transport_types:
          type: array
          description: Типы транспорта, которые обслуживает перевозчик
          items:
            type: string
            enum: [plane, train, suburban, bus, water, helicopter]

    StationsListResponse:
      type: object
      properties:
        countries:
          type: array
          description: Список стран с информацией о станциях
          items:
            $ref: '#/components/schemas/CountryStations'
        pagination:
          $ref: '#/components/schemas/Pagination'
          description: Информация о пагинации

    CountryStations:
      type: object
      properties:
        code:
          type: string
          description: Код страны
        title:
          type: string
          description: Название страны
        regions:
          type: array
          description: Список регионов страны
          items:
            $ref: '#/components/schemas/RegionStations'

    RegionStations:
      type: object
      properties:
        code:
          type: string
          description: Код региона
        title:
          type: string
          description: Название региона
        settlements:
          type: array
          description: Список населенных пунктов региона
          items:
            $ref: '#/components/schemas/SettlementStations'

    SettlementStations:
      type: object
      properties:
        code:
          type: string
          description: Код населенного пункта
        title:
          type: string
          description: Название населенного пункта
        stations:
          type: array
          description: Список станций в населенном пункте
          items:
            $ref: '#/components/schemas/Station'

    CopyrightResponse:
      type: object
      properties:
        copyright:
          type: object
          description: Информация об авторских правах
          properties:
            text:
              type: string
              description: Текст с информацией об авторских правах
            url:
              type: string
              description: URL с подробной информацией об авторских правах
        sources:
          type: array
          description: Список источников данных
          items:
            type: object
            properties:
              name:
                type: string
                description: Название источника данных
              url:
                type: string
                description: URL источника данных
              copyright:
                type: string
                description: Информация об авторских правах источника
        providers:
          type: array
          description: Список поставщиков данных
          items:
            type: object
            properties:
              name:
                type: string
                description: Название поставщика данных
              url:
                type: string
                description: URL поставщика данных
              copyright:
                type: string
                description: Информация об авторских правах поставщика
  parameters:
    apikey:
      name: apikey
      in: query
      required: true
      schema:
        type: string
      description: API KEY
    code:
      name: code
      in: query
      required: true
      description: Код перевозчика
      schema:
        type: string
    lang:
      name: lang
      in: query
      description: Язык ответа (ru)
      schema:
        type: string
        default: ru_RU
    format:
      name: format
      in: query
      description: Формат ответа
      schema:
        type: string
        enum: [json, xml]
        default: json
    lat:
      name: lat
      in: query
      required: true
      description: Широта географической точки
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
    lng:
      name: lng
      in: query
      required: true
      description: Долгота географической точки
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
    distance:
      name: distance
      in: query
      description: Максимальное расстояние в километрах для поиска населенного пункта
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 50
    station_types:
      name: station_types
      in: query
      description: Типы станций через запятую
      schema:
        type: string
    transport_types:
      name: transport_types
      in: query
      description: Типы транспорта через запятую
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Смещение от начала списка
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      description: Количество возвращаемых станций
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    from:
      name: from
      in: query
      description: Код станции отправления
      required: true
      schema:
        type: string
    to:
      name: to
      in: query
      description: Код станции назначения
      required: true
      schema:
        type: string
    station:
      name: station
      in: query
      required: true
      description: Код станции
      schema:
        type: string
    date:
      name: date
      in: query
      description: Дата в формате YYYY-MM-DD
      schema:
        type: string
        format: date
    direction:
      name: direction
      in: query
      description: Направление (код станции назначения)
      schema:
        type: string
    event:
      name: event
      in: query
      description: Тип события (departure, arrival, all)
      schema:
        type: string
        enum: [departure, arrival, all]
        default: all
    system:
      name: system
      in: query
      description: Система кодировки (yandex, iata)
      schema:
        type: string
        enum: [yandex, iata]
        default: yandex
    show_systems:
      name: show_systems
      in: query
      description: Система кодирования, в которой необходимо получить коды станций
      schema:
        type: string
        enum: [yandex, esr, all]
    result_timezone:
      name: result_timezone
      in: query
      description: Часовой пояс для времени в ответе
      schema:
        type: string
    uid:
      name: uid
      in: query
      required: true
      description: UID рейса (нити расписания)
      schema:
        type: string

